# We don't want Mods on github
src/mods/

# Curseforge stuff
src/.curseclient
src/minecraftinstance.json

# MC files we don't need here
src/dumps/
src/.mixin.out/
src/fontfiles/
src/fonts/
src/logs/
src/patchouli-books/
src/resourcepacks/
src/mods/
src/saves/
src/server-resource-packs/
src/tv-cache/
src/photo-frame-cache/
src/valkyrielib/
src/XaeroWorldMap/
src/XaeroWaypoints/
src/XaeroWaypoints_BACKUP062020/
src/crafttweaker.log
src/options.txt
src/patchouli_data.json
src/screenshots/
src/usercache.json
src/usernamecache.json
src/craftpresence/
src/crash-reports/
src/llibrary/
src/moreplayermodels/
src/config/InvTweaks.cfg
src/config/MouseTweaks.cfg
src/config/jei/bookmarks.ini
src/config/jei/worldSettings.cfg
src/config/jei/lookupHistory.zip
src/config/contentcreatorintegration/
src/config/LagGoggles-client.cfg
src/config/LagGoggles-server.cfg
src/config/LagGoggles-server.cfg
src/servers.dat
src/textures_0.png
src/encyclopedia-servers/
src/overlordplayersquads.dat
src/.ReAuth.cfg
src/.splashes
src/config/projectvibrantjourneys_custom_backup.cfg
src/emojicord/history.json
src/emojicord/cache/
# don't push this file
.gitignore
Uncle Genny.code-workspace
/.vscode
worldstripper.cfg
tickprofiler.cfg