# Configuration file

general {

    serveroptions {
        # Prevents animals from losing stats if there is no one on the server
        B:"Disable stats if server empty"=false

        # How long the animal has to wait before drinking again
        I:"Drinking Cooldown"=40

        # If animals should drop items
        B:"Entity Drops"=true

        # n in each direction away from the barrel
        I:"Food Barrel Search"=7
        I:"Max Random Kelp Height"=10

        # If the animal must be tranquilized (depending on its nature) in order to catch
        B:"Net can only get tranquilized animals"=false

        # If poachers should have attacking AI
        B:"Poacher Attacking"=true

        # Random number to n == 0
        I:"Seine Net Drop Chance"=10

        # Random number to n == 0 | after the seineDrop is true this is called to give a vanilla fishing item
        I:"Seine Net Special Chance"=20

        # Random number to n == 0
        I:"Worm Drop Chance"=0

        # Set to 'false' to disable attacking in all difficulty modes
        B:"ZAWA Attacking"=true

        # Resource locations of entities that cannot be captured in the animal net
        S:"ZAWA Net Blacklist" <
         >

        # If ZAWA should put custom biome lists for modded biomes into the config on first generation (this shouldnt be an option because of how much we suggest leaving it on)
        B:"ZAWA biome edits"=true

        # If zawa animals should enable stat handling. If this option is false, modules may not work properly/at all
        B:"ZAWA care stats"=true

        # If ZAWA animals can climb
        B:"ZAWA climbing"=true

        # The amount enrichment for tamed animals should go down per tick
        # Min: 0.0
        # Max: 1.7976931348623157E308
        D:"ZAWA enrichment depreciation"=9.0E-4

        # Enable experimental/buggy features early
        B:"ZAWA experimental"=false

        # If the care guide should be given to players when they spawn
        B:"ZAWA give care guide"=false

        # If ZAWA animals will only breed with non-family members
        B:"ZAWA interbreeding preventation"=true

        # If ZAWA animals can only spawn in the overworld
        B:"ZAWA overworld only spawns"=true

        # If ZAWA animals can spawn
        B:"ZAWA spawning allowed"=true
    }

    clientoptions {
        S:"Last version"=1.12.2-2.1.0

        # Don't change unless you know what this does
        I:"ZAWA Flag"=3

        # Enable experimental/buggy features early
        B:"ZAWA experimental"=false

        # If ZAWA animals will have an idle animation while not moving
        B:"ZAWA idle animations"=true
    }

}


