# Configuration file

general {
    # **Important** modify this config before start the game.
    # Separate each value with ';'.
    # The syntax is 'modid:mob_name;energy_generated_in_tick;exorcist_mode;mob_size;mob_size;mob_y;mob_z' (string;int;boolean;float;float;float).
    # If the values aren't correct the mod will set a default value.
    # First Value : This is the entity that will fart, use the entity id [ EXAMPLE -> minecraft:cow ];
    # Second Value : Warning, this generation is per tick, so, if the generation is equals to 1 you generate 20 RF in one second;
    # Third Value : If true, the entity will rotate the head of 360 when see you.
    # Fourth Value : This value set the size of the mob.
    # Fifth Value : This value set the Y position of the mob.
    # Sixth Value : This value set the Z position of the mob.
    S:"Entities Config" <
        fampack:elwms;40;false
        minecraft:cow;20;false
        minecraft:chicken;5;false
        minecraft:donkey;10;false
        minecraft:horse;10;false
        minecraft:llama;10;false
        minecraft:mooshroom;20;false
        minecraft:mule;10;false
        minecraft:ocelot;5;false
        minecraft:pig;15;false
        minecraft:polar_bear;25;false
        minecraft:sheep;5;false
        minecraft:wolf;5;false
     >

    # Warning, this value is in second.
    I:"Every *n* second the generator, if actived, will produce a fart sound."=17

    # I suggest to not change the value
    D:"Sound volume of fart"=1.0

    # If false disable the integration
    B:"The One Probe Integration"=true

    # If you don't extract energy, for example, you'll store energy in the generator.
    I:"The energy capacity of the generator."=70000

    # If you have 2FE stored, the generator will extract 2FE per tick else if you have 100FE store, the generator will extract 50FE per tick
    I:"The energy that can be extract per tick"=50
}


