# Configuration file

"drone attack settings" {
    I:"Delay Time in Days Before Saw Blades Break Blocks"=1
    I:"Delay Time in Days Before Saw Blades Start to Explode"=1

    #  [range: 1.0 ~ 3.4028235E38, default: 4.0]
    S:"Drones Attack Damage"=4.0
    B:"Drones Attack Everything (Except Drones)"=false
    B:"Drones Attack Monsters"=false

    #  [range: 1.0 ~ 3.4028235E38, default: 15.0]
    S:"Drones Health"=15.0
    B:"Saw Blades Break Blocks"=false
    B:"Saw Blades Explode on Breaking"=false
    I:"Slowness Effect Duration (Seconds)"=5
}


"drone spawn settings" {
    I:"Default Spawn Chance Weight"=10
    I:"Default Spawn Group Maximum Size"=3
    I:"Default Spawn Group Minimum Size"=1
    I:"Delay Time in Days Before Drones Can Shoot Saw Blades"=1
    I:"Delay Time in Days Before Drones Spawn"=1
    B:"Drone Drops On"=true

    #  [default: [1], [-1]]
    S:"Drone Spawn Dimension Blacklist" <
        1
        -1
     >
    I:"Max Spawned in Chunk Daytime (Light Level >= 5)"=1
    I:"Max Spawned in Chunk Nighttime (Light Level < 5)"=3
}


"player drone settings" {
    I:"Damage caused by Player Drone Laser"=4
    B:"Enable Player Drone Laser Fire Damage"=true
    I:"Player Drone Laser Fire Burn Time in Seconds"=10

    #  [range: 1.0 ~ 3.4028235E38, default: 4.0]
    S:"Player Drones Attack Damage"=4.0

    #  [range: 1.0 ~ 3.4028235E38, default: 15.0]
    S:"Player Drones Health"=15.0
}


