# Configuration file

general {
    # Blacklist for dusts which should not be craftable in pulvus. [default: [dustCoal]]
    S:blacklistDusts <
        dustCoal
     >
}


multiplier {
    # Multiplier of Fuel Consumption of Efficiency Upgrade [range: 0.05 ~ 5.0, default: 0.3]
    S:effiFuelMultiplier=0.3

    # Multiplier of Fuel Consumption of Speed Upgrade [range: 0.05 ~ 5.0, default: 0.4]
    S:speedFuelMultiplier=0.4

    # Multiplier of Speed Upgrade [range: 0.05 ~ 5.0, default: 0.5]
    S:speedMultiplier=0.5
}


recipe {
    # Enable built in dusts [default: true]
    B:dusts=true

    # Pulvus Recipes
    # item: modID:itemNname OR oreDictName
    # amount: #number
    # metadata: /number
    S:pulvus_recipes <
        {"inputItem":"cobblestone","outputItem":"gravel","experience":0.1}
        {"inputItem":"gravel","outputItem":"sand","experience":0.1}
        {"inputItem":"stone","outputItem":"cobblestone","experience":0.1}
        {"inputItem":"minecraft:sandstone/-1","outputItem":"minecraft:sand#4","experience":0.1}
        {"inputItem":"minecraft:stonebrick/-1","outputItem":"cobblestone","experience":0.1}
        {"inputItem":"oreQuartz","outputItem":"gemQuartz#3","experience":0.3}
        {"inputItem":"oreCoal","outputItem":"minecraft:coal#3","experience":0.3}
        {"inputItem":"oreLapis","outputItem":"gemLapis#8","experience":0.3}
        {"inputItem":"oreRedstone","outputItem":"dustRedstone#8","experience":0.3}
        {"inputItem":"minecraft:quartz_block/-1","outputItem":"gemQuartz#4","experience":0.1}
        {"inputItem":"glowstone","outputItem":"dustGlowstone#4","experience":0.1}
        {"inputItem":"minecraft:blaze_rod","outputItem":"minecraft:blaze_powder#4","experience":0.4}
        {"inputItem":"minecraft:bone","outputItem":"minecraft:dye/15#6","experience":0.1}
        {"inputItem":"minecraft:wool/-1","outputItem":"minecraft:string/0#4","experience":0.1}
        {"inputItem":"sugarcane","outputItem":"minecraft:sugar#3","experience":0.2}
     >
}


upgrade_stacksize {
    # Max stacksize for EFFICIENCY [range: 1 ~ 32, default: 8]
    I:efficiency_stacksize=8

    # Max stacksize for SPEED [range: 1 ~ 32, default: 8]
    I:speed_stacksize=8

    # Max stacksize for XP [range: 1 ~ 32, default: 8]
    I:xp_stacksize=8
}


upgrades {
    # Enable ECO upgrade [default: true]
    B:eco=true

    # Enable EFFICIENCY upgrade [default: true]
    B:efficiency=true

    # Enable ENERGY upgrade [default: true]
    B:energy=true

    # Enable IO upgrade [default: true]
    B:io=true

    # Enable SLOT upgrade [default: true]
    B:slot=true

    # Enable SPEED upgrade [default: true]
    B:speed=true

    # Enable XP upgrade [default: true]
    B:xp=true
}


