# Configuration file

general {
    # How many bones does it take to make a Baby Skeleton?
    I:cfg.bonereq_baby=16

    # How many bones does it take to make a Skeleton Warrior?
    I:cfg.bonereq_warrior=32

    # Disables friendly fire. This means you and your army can't harm allies.
    B:cfg.disable_friendly_fire=false

    # Skinsuits are semi transparent
    B:cfg.ghostly_skins=true

    # Enables helmets worn by Army Skeletons taking damage and eventually breaking in the sunlight
    B:cfg.helmet_damage=false

    # Do Army Skeletons go after Creepers?
    B:cfg.huntcreepers=false

    # Controls how far your Skeleton Warriors can shoot their bows.
    D:cfg.max_arrow_distance=30.0

    # Do named Skinsuits name Skeletons after the skin?
    B:cfg.skinsuitnametags=true

    # Warn players in the Skeleton Maker GUI if the Skeleton spawned may suffocate?
    B:cfg.suffocationwarning=true

    # Makes each player their own scoreboard team. This doesn't interfere with anything that I know of, but if it does cause issues, you can disable it.
    B:cfg.teamhack=true

    # cfg.xp_override.tooltip
    B:cfg.xp_override=true
}


